<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>NSAlarmKitUsageDescription</key>
	<string>We need alarm access to remind you about your tasks at the scheduled time</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock your journal with Face ID</string>
	<key>NSCameraUsageDescription</key>
	<string>Aurora uses your camera to add photos to journal entries</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aurora uses your photo library to add images to journal entries</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aurora uses your location to tag journal entries with where they were written</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aurora uses your microphone to add voice recordings to journal entries</string>
</dict>
</plist>
